<div class="container">
  <div class="character">
    <div class="character-details">
      <div class="character-info">
        <div class="character-info-image">
          <img
            src="https://rickandmortyapi.com/api/character/avatar/1.jpeg"
            alt="Rick Sanchez"
          />
        </div>
        <div class="character-info-attr">
          <h2>Rick Sanchez</h2>
          <table>
            <tr>
              <td>Status:</td>
              <td>Alive</td>
            </tr>
            <tr>
              <td>Species:</td>
              <td>Human</td>
            </tr>
            <tr>
              <td>Type:</td>
              <td>-</td>
            </tr>
            <tr>
              <td>Gender:</td>
              <td>Male</td>
            </tr>
            <tr>
              <td>Origin:</td>
              <td>Earth (C-137)</td>
            </tr>
            <tr>
              <td>Location:</td>
              <td>Citadel of Ricks</td>
            </tr>
          </table>
        </div>

      </div>

      <div class="character-episodes">
        <h3>Episodes</h3>
        <ul>
          <li>1</li>
          <li>2</li>
          <!-- continue the list -->
        </ul>
      </div>

    </div>
  </div>
</div>
