<div class="container">
  <div class="character">
    <div class="character-details">
      <div class="character-info">
        <div class="character-info-image">
          <img
            src="{{ character.image }}"
            alt="{{ character.name }}"
          />
        </div>
        <div class="character-info-attr">
          <h2>{{ character.name }}</h2>
          <table>
            <tr>
              <td>Status:</td>
              <td>{{ character.status }}</td>
            </tr>
            <tr>
              <td>Species:</td>
              <td>{{ character.species }}</td>
            </tr>
            <tr>
              <td>Type:</td>
              <td>{{ character.type ? character.type : 'unknown' }}</td>
            </tr>
            <tr>
              <td>Gender:</td>
              <td>{{ character.gender }}</td>
            </tr>
            <tr>
              <td>Origin:</td>
              <td>{{ character.origin.name }}</td>
            </tr>
            <tr>
              <td>Location:</td>
              <td>{{ character.location.name }}</td>
            </tr>
          </table>
        </div>

      </div>

      <div class="character-episodes">
        <h3>Episodes</h3>
        <ul>
          <li>1</li>
          <li>2</li>
          <!-- continue the list -->
        </ul>
      </div>

    </div>
  </div>
</div>
